.coursePills {
    text-align: center;
}

.coursePills > li {
    text-align: center;
}

.coursePills h3 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.queuePills {
    margin-bottom: 10px;
}

.queuePills h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.queuePanes {
    padding-left: 0;
    padding-right: 0;
}

.notAdmin .adminOnly {
    display: none !important;
}

#schedulePicker .scheduleUnit {
    display: block;
    margin: 2px;
    width: 10px;
    height: 1em;
}

#schedulePicker .scheduleUnit-o {
    background-color: green;
}


#schedulePicker .scheduleUnit-c {
    background-color: red;
}



#schedulePicker .scheduleUnit-p {
    background-color: blue;
}

.queue-signUpMap {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.queue-locatePin {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14pt;
    pointer-events: none;
}

.queue-entryInfo {
    display: inline-block;
}

.queue-entryMap {
    width: 100%;
}

body {
    font-family: 'Muli', sans-serif;
}

.appointment-slots-table button {
    width: 20px;
    padding: 0px;
}

th.appointment-slots-header {
    position: relative;
    width: 20px;
    height: 50px;
    font-weight: normal;
    font-size: 8pt;
}

th.appointment-slots-header > span {
    position: absolute;
    bottom: 12px;
    left: -2px;
    transform: rotate(315deg);
}

.appointment-slots-header-minor > span {
    visibility: hidden;
}

.appointment-slots-header-major > span {
    visibility: visible;
}

.appointment-slots-header-past > span {
    color: #777777;
}

.appointment-slots-header-hover > span {
    visibility: visible;
    color: black;
    font-weight: bold;
}

.appointment-slots-header-selected > span {
    visibility: visible;
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 3px;
    padding: 2px;
    z-index: 2;
}

.appointment-slots-header-cancel > span {
    visibility: visible;
    color: white;
    background-color: tomato;
    border-radius: 3px;
    padding: 2px;
    text-decoration: line-through;
}

.appointment-cell {
    overflow: hidden;
}

.appointment-cell button {
    padding-left: 6px;
    padding-right: 6px;
}

.appointment-cell-blank button {
    visibility: hidden;

}

.appointment-cell-past button {
    width: 40px;
    opacity: 0.5;
}

.appointment-cell-recent-past button {
    width: 100px;
    opacity: 0.5;
}

.appointment-cell-near-future button {
    width: 100px;
}

.appointment-cell-future button {
    width: 40px;
}

.appointment-cell-claimed button {
    font-weight: bold;
}

.crabster-now {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    z-index: 1;
}

.crabster-now > img {
    width: 50px;
    height: 50px;
}

.crabster-now > .crabster-time {
    position: absolute;
    width: 100%;
    left: 0;
    top: 5px;
}

.appt-schedule-picker {
    overflow-x: scroll;
}

.appt-schedule-picker > table {
    margin-bottom: 5px;
}

.appt-schedule-picker-slot {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.5em;
    user-select: none;
}
